@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.light-mode {
  background-color: white;
  color: black;
}

.dark-mode {
  background-color: rgb(24, 31, 57);
  color: white;
}

.text-mainColor {
  color: #4a90e2; /* Example color, adjust as needed */
}

.poppins {
  font-family: var(--font-poppins);
}

.poppins-regular {
  font-weight: 400;
}

.poppins-thin {
  font-weight: 100;
}
